<section id="nav" class="container">
	<div class="bg-dark row">
		<a href="/" class="col-6 text-right">
			<button type="button" class="btn btn-primary ">Scrap</button>
		</a>
		<a href="/articles" class="col-6 text-left">
			<button type="button" class="btn btn-primary ">Articles</button>
		</a>
	</div>
</section>