<div class="modal fade" id="note-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div id="modal-loader" class="text-center">
                <img src="../../assets/images/loader.gif" />
                <h3>Loading article notes...</h3>
            </div>
            <div class="modal-body">
                <div id="notes">
                </div>
                <form>
                    <div class="form-row">
                        <label>New Note:</label>
                        <textarea id="add-text" class="col-12" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary add-note">Add Note</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>