<section id="title" class="container">
    <div class="row">
        <div class="col-12 jumbotron jumbotron-fluid text-center">
            <h1>Slashdot Scraper /.</h1>
            <p class="lead">MongoDB | Mongoose | Express | Cheerio | Handlebars | Bluebird </p>
        </div>
    </div>
</section>