 {{>main/_title-header}} {{>main/_nav-bar}}
<section id="content">
    <div class="container">
        <div id="loader" class="text-center">
            <h3>Loading saved articles...</h3>
            <img src="../../assets/images/loader.gif" />
        </div>
        <div id="articles" class="row">
        </div>
</section>